.cm-tab{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AsZFxkrroR9iwAAAG5JREFUSMftlLENwkAQBGd5FwAFQAHE5JYjAip2E+4B94GGALsDJ4d+ktNpo9XtHnQ6/4/a1Ek9b/tr104VDCT5AG9gVC/AsGuD+ix0jAaM2/wZSDIXidENeAArcC0VIbUBd2BNslQuc/pL6xzMF0vAIkBmiuj4AAAAAElFTkSuQmCC);
	background-position: right;
	background-repeat: no-repeat;
}